{% extends "base.html" %}
{% block content %}
<section class="form-container">
  <h2>{{ t("Iniciar sesión") }}</h2>
  <form method="POST" action="{{ url_for('login') }}">
    <label>Email</label>
    <input type="email" name="username" placeholder="correo@ejemplo.com" required>

    <label>{{ t("Contraseña", "Password") }}</label>
    <input type="password" name="password" required>

    <button type="submit" class="btn btn-primary">{{ t("Ingresar", "Login") }}</button>
  </form>

  <p>{{ t("¿No tienes cuenta?") }}
    <a href="{{ url_for('register_router') }}">{{ t("Registrarse") }}</a>
  </p>
</section>
{% endblock %}
