{% extends "base.html" %}
{% block content %}

<section class="password-reset-form fade-in">
  <h2 class="text-center">{{ t("Nueva Contraseña", "New Password", "新密碼") }}</h2>

  <form action="{{ url_for('password_reset_form', token=token) }}" method="POST" class="form mt-3">
    <label for="password">{{ t("Contraseña nueva", "New password", "新密碼") }}</label>
    <input type="password" id="password" name="password" required placeholder="{{ t('Ingresa una nueva contraseña', 'Enter a new password', '輸入新密碼') }}">

    <button type="submit" class="btn mt-2">{{ t("Guardar contraseña", "Save password", "儲存密碼") }}</button>
  </form>
</section>

{% endblock %}
